{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{# TODO: Set all this properly if going into production #}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://localhost:3000/forgot-password?token={{ token }}&uid={{ uid }}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}